
*{
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
a{
    text-decoration: none !important;
}
section{
    padding: 25px 0px 0px 0px;
}
strong{
    font-weight: bold;
}
h1{
    font-size: 32px !important;
    font-weight: bold !important;
}
@media(min-width:320px){
    h1{
        font-size: 20px !important;
    }
}
@media(min-width:690px){
    h1{
        font-size: 25px !important;
    }
}
@media(min-width:1020px){
    h1{
        font-size: 32px !important;
    }
}
h3{
    font-size: 25px !important;
    font-weight: bold !important;
    color: #3b434a;
}
@media(min-width:320px){
    h3{
        font-size: 18px !important;
    }
}
@media(min-width:690px){
    h3{
        font-size: 22px !important;
    }
}
@media(min-width:1020px){
    h3{
        font-size: 25px !important;
    }
}
p{
    font-size: 16px !important;
}
.hero-section-background{
    background: linear-gradient(#000000f2, #000000f2), url(../images/hero-section-background.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}
.hero-section-name{
    color: #ffd700;
}
.hero-section-content{
    position: absolute;
    top: 16%;
    padding: 10px;
}
.about-us-heading h1{
    color: #3b434a;
    text-align: center;
}
.my-image img{
    border-radius: 25px;
}
.order-content{
    order: 1;
}
@media(min-width:320px){
    .order-content{
        order: 2;
    }
}
@media(min-width:690px){
    .order-content{
        order: 1;
    }
}
@media(min-width:1020px){
    .order-content{
        order: 1;
    }
}
.order-image{
    order: 2;
}
@media(min-width:320px){
    .order-image{
        order: 1;
    }
}
@media(min-width:690px){
    .order-image{
        order: 2;
    }
}
@media(min-width:1020px){
    .order-image{
        order: 2;
    }
}
.about-me-para p{
    font-size: 20px !important;
}
@media(min-width:320px){
    .about-me-para p{
        font-size: 16px !important;
    }
}
@media(min-width:690px){
    .about-me-para p{
        font-size: 18px !important;
    }
}
@media(min-width:1020px){
    .about-me-para p{
        font-size: 20px !important;
    }
}
.experience-section-all{
    padding: 0 0 15px 20px;
    position: relative;
    border-left: 2px solid #82909c;
    line-height: 1.5;
}
.experience-section-all::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: #fff;
    border: 2px solid #82909c;
    top: 0;
    bottom: 0;
    right: 0;
    left: -9px;
}
.experience-section-all h3{
    color: #ffb727;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px !important;
}
.experience-section-all h5{
    font-size: 16px !important;
    background: #93a12187;
    padding: 5px 15px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}
.experience-section-all p{
    margin-bottom: 10px;
}
.experience-section-all ul{
    padding: 0px 0px 0px 15px;
}
.experience-section-all ul li{
    margin-bottom: 10px;
}
.education-all{
    height: 200px;
}
@media(min-width:320px){
    .education-all{
        height: auto;
    }
}
@media(min-width:690px){
    .education-all{
        height: 240px;
    }
}
@media(min-width:1020px){
    .education-all{
        height: 200px;
    }
}
.skills-content{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border: 2px solid rgba(0, 0, 0, 0.080);
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
.skills-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-bar {
    width: 100%;
    height: 10px;
    background-color: rgba(0,0,0,0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skills-bar span {
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}
span.html {
    width: 95%;
    animation: web 3s;
}
span.css {
    width: 95%;
    animation: web 3s;
}
span.bootstrap {
    width: 95%;
    animation: web 3s;
}
span.tailwind {
    width: 95%;
    animation: web 3s;
}
span.wordpress {
    width: 80%;
    animation: web 3s;
}
span.responsive {
    width: 95%;
    animation: web 3s;
}
span.javascript {
    width: 75%;
    animation: web 3s;
}
span.php {
    width: 40%;
    animation: web 3s;
}
span.mysql {
    width: 60%;
    animation: web 3s;
}
.skills-content:hover {
    border: 2px solid #ffb727;
}
.project-all{
    box-shadow: 0 0 5px #e5d8d885;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}
.project-button {
    text-align: center;
    padding: 10px 10px;
}
.project-button a {
    color: #363b42;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffa62b;
    padding: 12px 22px;
    border-radius: 5px;
}
.project-button a:hover {
    color: #fff;
}
.project-name h3{
    font-size: 18px !important;
}
.project-image i{
    font-size: 25px;
    padding: 20px;
    color: #bc8f8f;
}
.project-name a{
    color: #363b42;
    font-size: 16px;
    font-weight: 600;
}
.owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}
.footer{
    background: linear-gradient(#000000f2, #000000f2), url(../images/hero-section-background.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0px 15px 0px;
}
